body {
  margin: 0px;
  top: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(176, 215, 185);
  box-shadow: 2px 1px 10px hsl(134, 17%, 20%);
}
nav {
  margin-left: 20px;
  padding: 10px 0px;
}
.nav {
  margin: 0px 20px;
  text-decoration: none;
  color: hsl(134, 17%, 20%);
  font-size: 18px;
  font-weight: bold;
  border: 2px solid hsl(134, 17%, 20%);
  border-radius: 15px;
  padding: 5px 30px;
}
.nav:hover {
  background-color: hsl(134, 33%, 20%, 60%);
  color: hsl(134, 17%, 15%, 60%);
}
.title {
  position: relative;
  margin: 0px;
  padding-top: 15px;
  z-index: -1;
  color: hsl(134, 17%, 20%);
  font-size: 40px;

}
/* Navigation */
.menu {
  z-index: -1;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.menu li {
  margin: 0px 30px;
  padding: 10px;
}

/*page content*/
main {
  margin: 70px 70px 20px 40px;
}
h2 {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}
.color-group, .font-group, .text-style-group {
  width: 100%;
}
.color-group {
  height: 620px;
}
.font-group {
  height: 340px;
}
.green, .blue, .red, .yellow {
  float: left;
  width: 25%;
}
.palette {
  padding: 15px;
  margin: 1px;
}
.color {
  margin: 0px;
  padding: 5px 15px;
}
/*Green palette*/
.grE8F5E9 {
  background-color:  #E8F5E9;
}
.grC8E6C9 {
  background-color:  #C8E6C9;
}
.grA5D6A7 {
  background-color: #A5D6A7;
}
.gr81C784 {
  background-color: #81C784;
}
.gr66BB6A {
  background-color: #66BB6A;
}
.gr4CAF50 {
  background-color: #4CAF50;
}
.gr43A047{
  background-color: #43A047;
}
.gr388E3C {
  background-color: #388E3C;
}
.gr2E7D32 {
  background-color: #2E7D32;
}
.gr1B5E20 {
  background-color: #1B5E20;
}
/*blue palette*/
.blE3F2FD {
  background-color: #E3F2FD;
}
.blBBDEFB {
  background-color: #BBDEFB;
}
.bl90CAF9 {
  background-color: #90CAF9;
}
.bl64B5F6 {
  background-color: #64B5F6;
}
.bl42A5F5 {
  background-color: #42A5F5;
}
.bl2196F3 {
  background-color: #2196F3;
}
.bl1E88E5 {
  background-color: #1E88E5;
}
.bl1976D2 {
  background-color: #1976D2;
}
.bl1565C0 {
  background-color: #1565C0;
}
.bl0D47A1 {
  background-color: #0D47A1;
}
/*red palette*/
.rFFEBEE {
  background-color: #FFEBEE;
}
.rFFCDD2 {
  background-color: #FFCDD2;
}
.rEF9A9A {
  background-color: #EF9A9A;
}
.rE57373 {
  background-color: #E57373;
}
.rEF5350 {
  background-color: #EF5350;
}
.rF44336 {
  background-color: #F44336;
}
.rE53935 {
  background-color: #E53935;
}
.rD32F2F {
  background-color: #D32F2F;
}
.rC62828 {
  background-color: #C62828;
}
.rB71C1C {
  background-color: #B71C1C;
}
/*yellow palette*/
.yFFFDE7 {
  background-color: #FFFDE7;
}
.yFFF9C4 {
  background-color: #FFF9C4;
}
.yFFF59D {
  background-color: #FFF59D;
}
.yFFF176 {
  background-color: #FFF176;
}
.yFFEE58 {
  background-color: #FFEE58;
}
.yFFEB3B {
  background-color: #FFEB3B;
}
.yFDD835 {
  background-color: #FDD835;
}
.yFBC02D {
  background-color: #FBC02D;
}
.yF9A825 {
  background-color: #F9A825;
}
.yF57F17 {
  background-color: #f57f17;
}

/*Fonts*/
.fonts {
  width: 100%;
}
.serif, .sans-serif, .monospace {
  float: left;
  width: 33%;
}
.font {
  margin: 0px;
  padding-bottom: 15px;
}
.font-type {
  color: gray;
  font-size: 12px;
  margin: 0px;
}
.group-regular400, .group-regular400-italic, .group-bold700 {
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 7px;
  padding-left: 10px;
  background-color: #f3f1eb90;
  box-shadow: 5px 2px 10px rgba(5, 5, 5, 0.2)
} 
.regular400 {
  font-weight: 400px;
  margin: 0px;
  padding: 7px 0px;
}
.regular400-italic {  
  font-weight: 400px;
  font-style: italic;
  margin: 0px;
  padding: 7px 0px;
}
.bold700 {
  font-weight: bold;
  margin: 0px;
  padding: 7px 0px;
 }
/*Garanod*/
.garamond {
 font-family: "EB Garamond";
}
 /*Open Sans*/
 .opensans {
  font-family: "Open Sans";
 }
  /*roboto mono*/
 .robotomono {
  font-family: "Roboto Mono";
 }

 /*Text styling */
 .styling {
   box-shadow: 5px 2px 10px rgba(5, 5, 5, 0.2);
   padding: 0px 0px 10px 10px;
   margin-right: 15px;
   border-radius: 7px;
   background-color: #f3f1eb90;
   z-index: -1;

 }

 .page-heading {
   margin-top: 10px;
   padding-top: 10px;
   font-size: 36px;
   margin-bottom: 5px;
 }
 .style-char {
   margin: 0px;
   padding: 10px 15px;
   font-size: 16px;
   margin-left: 3px;
 }
 .sub {
   padding: 0px;
 }
 .parag {
  padding: 0px;
  margin: 0px;
 }
 li {
   margin: 4px 0px;
 }